# Prerequisites
**/*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
**/*.mod
**/*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Executables
src/input.dat
**/*.exe
**/*.out
**/*.app
**/*.xyz
**/*.csv
**/*.sif

**/*.csv
**/*.vtk
**/dt_limitations
src/*.dat
src/*.prof
src/*.bin
**/*.q
src/frames/
src/vtks/
src/frames/*
src/vtks/*

build/*
